@font-face {
  font-family: "Satoshi Bold";
  src: url("../public/fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("../public/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Pokemon Classic";
  src: url("../public/fonts/pixe.ttf");
}


:root {
  --main-font: "Satoshi Bold";
  --funky-font: "Pokemon Classic";
  --black: rgb(41, 41, 41);
}

body {}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  color: var(--black);
}


h3 {
  font-family: var(--funky-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.JellyPlaceholder {
  aspect-ratio: 16/10;
  width: 66%;
  margin: auto;
  background-color: transparent;
}